{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Edit profile {{ user_profile.username }}</h1>

    <form method="post" action="." enctype="multipart/form-data" >
        {% csrf_token %}

        <!-- Error notifications -->
        {% if form.errors %}
                {% for field in form %}
                        {% for error in field.errors %}
                                <div class="notification is-danger">
                                        {{ field.label }}: <strong>{{ error|escape }}</strong>
                                </div>
                        {% endfor %}
                {% endfor %}
        {% endif %}

        <div class="field">
            <label>First name:</label>

            <div class="control">
                    <input
                            class="input"
                            type="text"
                            name="first_name"
                            id="id_first_name"
                            value="{{ user_profile.first_name }}"
                    >
            </div>
        </div>

        <div class="field">
            <label>Last name:</label>

            <div class="control">
                    <input
                            class="input"
                            type="text"
                            name="last_name"
                            id="id_last_name"
                            value="{{ user_profile.last_name }}"
                    >
            </div>
        </div>
        
        <div class="field">
            <label>Last name:</label>

            <div class="control">
                    <input
                            class="input"
                            type="text"
                            name="username"
                            id="id_username"
                            value="{{ user_profile.username }}"
                    >
            </div>
        </div>
        
        <div class="field">
            <label>Email:</label>

            <div class="control">
                    <input
                            class="input"
                            type="email"
                            name="email"
                            id="id_email"
                            value="{{ user_profile.email }}"
                    >
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success" type="submit">Save changes</button>
            </div>
        </div>
    </form>    
{% endblock %}