{% extends 'core/base.html' %}

{% block content %}
        {% if request.user.is_authenticated %}
                <b>Username: </b>{{ user_profile.username }}<br>
                <b>Repository name: </b>{{ user_profile.repository_name }}<br>
                <b>Page title: </b>{{ user_profile.page_title }}<br>
                <b>Description: </b>{{ user_profile.description }}<br>
                <b>Base URL: </b>{{ user_profile.baseurl }}<br>
                <b>URL: </b>{{ user_profile.url }}<br>
                {% if user_profile.avatar %}
                        <b>Avatar: </b>{{ user_profile.avatar }}<br><br>
                        <img src="/media/{{ user_profile.avatar }}" alt="Avatar" width="200" height="200">
                {% endif %}<br><br>
                <b>First name: </b>{{ user_profile.first_name }}<br>
                <b>Last name: </b>{{ user_profile.last_name }}<br>
                <b>Gender: </b>{{ user_profile.gender }}<br>
                {% if user_profile.title %}<b>Title: </b>{{ user_profile.title }}<br>{% endif %}
                {% if user_profile.company %}<b>Company: </b>{{ user_profile.company }}<br>{% endif %}
                <b>Email: </b>{{ user_profile.email }}<br>
                {% if user_profile.phone %}<b>Phone: </b>{{ user_profile.phone }}<br>{% endif %}
                {% if user_profile.website %}<b>Website: </b>{{ user_profile.website }}<br>{% endif %}
                {% if user_profile.facebook_url %}<b>Facebook URL: </b>{{ user_profile.facebook_url }}<br>{% endif %}
                {% if user_profile.linkedin_url %}<b>Linkedin URL: </b>{{ user_profile.linkedin_url }}<br>{% endif %}
                {% if user_profile.instagram_url %}<b>Instagram URL: </b>{{ user_profile.instagram_url }}<br>{% endif %}
                {% if user_profile.pinterest_url %}<b>Pinterest URL:</b>{{ user_profile.pinterest_url }}<br>{% endif %}
                {% if user_profile.twitter_url %}<b>Twitter URL: </b>{{ user_profile.twitter_url }}<br>{% endif %}
                {% if user_profile.youtube_url %}<b>Youtube Channel URL: </b><{{ user_profile.youtube_url }}<br>{% endif %}
                {% if user_profile.snapchat_url %}<b>Snapchat URL: </b>{{ user_profile.snapchat_url }}<br>{% endif %}
                {% if user_profile.whatsapp_url %}<b>Whatsapp URL: </b>{{ user_profile.whatsapp_url }}<br>{% endif %}
                {% if user_profile.tiktok_url %}<b>Tiktok URL: </b>{{ user_profile.tiktok_url }}<br>{% endif %}
                {% if user_profile.telegram_url %}<b>Telegram URL: </b>{{ user_profile.telegram_url }}<br>{% endif %}
                {% if user_profile.skype_url %}<b>Skype URL: </b>{{ user_profile.skype_url }}<br>{% endif %}
                {% if user_profile.github_url %}<b>Github URL: </b>{{ user_profile.github_url }}<br>{% endif %}
                {% if user_profile.gitlab_url %}<b>Gitlab URL: </b>{{ user_profile.gitlab_url }}<br>{% endif %}
                <b>Markdown: </b>{{ user_profile.markdown }}<br>
                <br>
                <a href="{% url 'edit_profile' user_profile.username %}" class="button is-success">Edit profile</a>
        {% endif %}
{% endblock %}

